# your api key here
elasticroute_api_key=keygoeshere
# you should not change this unless you are self-hosting elasticroute
elasticroute_path=https://elasticroute.com/api/plan
# if you wish to log all network calls via a HTTP proxy, you may enter its details here
elasticroute_proxy_enabled=false
elasticroute_proxy_url=127.0.0.1:8080